# Modelsim
**work/
**/transcript
*.wlf

# Synopsis
lab_*/syn/netlist/*
lab_*/syn/netlist/.gitkeep
lab_*/syn/report/*
lab_*/syn/report/.gitkeep
lab_*/soce/*
!lab_*/soce/*.tcl
dwsvf_*
*.log
*.svf

# C/CPP
*.a

# Other files
.directory
